* {
    font-family: 'Balsamiq Sans'
}

#show-nav-btn {
    color: gold;
}

#userpage-nav {
    display: none;
}

body {
    background-color: rgb(233, 231, 208);
    color: rgb(255, 255, 255);
}

#userpage-header {
    text-align: center;
    border: 5px solid rgb(255, 127, 80);;
    margin: 10px 200px;
    background-color: rgb(255, 127, 80);
    border-radius: 5px;
}

#userpage-habits {
    padding: 10px;
    margin: 10px 300px;
    border: 5px solid rgb(255, 127, 80);;
    position: relative;
    background-color: rgb(255, 127, 80);
    font-size: 25px;
    border-radius: 5px;
}

.habit {
    height: 100px;
}

.more-info-btn {
    cursor: pointer;
    color: rgb(65, 105, 225);
}

.more-info-btn:hover {
    color: rgb(250, 213, 4);
}

#new-habit-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(250, 213, 4);
    background-color:rgb(65, 105, 225);
    border-color: rgb(65, 105, 225);
    font-size: 20px;
    padding: 5px;
    border-radius: 12px;
    font-weight: 600;
}

#new-habit-btn:hover {
    color: rgb(65, 105, 225);
    background-color: rgb(250, 213, 4);
    border-color: rgb(250, 213, 4);
    transition: 0.3s;
}
