* {
    background-color: rgb(233, 231, 208);
    color: white;
}

.our-btn {
    background-color:rgb(65, 105, 225);
    border-color: rgb(65, 105, 225);
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
}

#userpage-header {
    text-align: center;
    border: 5px solid black;
    margin: 10px 200px;
    background-color: rgb(255, 127, 80);
}

#userpage-habits {
    padding: 10px;
    margin: 10px 300px;
    height: 70vh;
    border: 5px solid black;
    position: relative;
    background-color: rgb(255, 127, 80);
}

#habits-textcontent {
    display: flex;
    justify-content: space-around;
}

#new-habit-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.our-modal {

}