:root {
    --primary: #337AA6;
    --secondary: #3B9ABF;
    --tertiary: #2C5159;
    --dark: #142126;
    font-size: 26px;
}

* {
    font-family: 'Balsamiq Sans', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    background-image: url(../images/background.webp);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---- Split the page ----*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    left: 0;
}

.right {
    right: 0;
    display: flex;
    align-items: center;
}
/*------------------------*/

input {
    border: none;
    border-radius: 1rem;
    color: var(--dark);
    background-color: var(--secondary);
    padding: 0.2rem 0.3rem;
}

button {
    color: var(--tertiary);
    background-color:var(--secondary);
    border-color: var(--secondary);
    font-size: 20px;
    padding: 0.3rem;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

button:enabled:hover {
    color: var(--secondary);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    transition: 0.3s;
}

button:disabled {
    cursor: initial;
    opacity: 0.5;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 10px;
}

.login-form > div {
    margin: 1rem;
}

.welcome-container {
    /* height: 25%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-container {
    /* width: 45%; */
    margin: auto;
    margin-right: 1rem;
    color: var(--primary);
    font-size: 1.3rem;
    text-shadow: 2px 1px var(--dark);
}

.trabbit-heading {
    margin-left: 3rem;
}

.logo-container {
    width: 50%;
    margin: auto;
}

.logo {
    max-width: 100%;
    /* max-height: 100%; */
}

.quotes-container {
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    text-shadow: 3px 1px var(--dark);
}

.quote-text-container {
    width: 60%;
    text-align: justify;
}

.quote-text {
    margin: 0;
    font-family: 'Tangerine', serif;
    font-size: 2rem;
}

.quote-author-container {
    width: 50%;
    text-align: left;
}

.quote-author {
    font-size: 1rem;
}

.centered {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}

/*---- Registration form modal ----*/

.signup-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 60%;
}

.signup-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    color: var(--dark);
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 1rem;
    padding-right: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.signup-form > div {
    width: 100%;
    margin: 0.6rem;
    display: flex;
}

.form-heading {
    width: 45%;
    color: var(--dark);
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-align: right;
}

/* The Close Button */
.close {
    color: var(--dark);
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}

.close:hover,
.close:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
} 


/* Responsiveness for tablet */
@media (max-width: 1000px) and (min-width: 600px) and (max-height: 1100px) {
    body {
        background-size: initial;
    }

    #trabbitHeading {
        font-size: 40px;
    }

    #welcomeHeading {
        font-size: 35px;
    }

    .quote-text {
        font-size: 40px;
    }

    .quote-author {
        font-size: 20px;
    }

    #signupModal {
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
    }
}

/* Responsiveness for phone */
@media (max-width: 600px) and (max-height: 1000px) {     
    body {
        background-size: initial;
    }

    #trabbitHeading {
        font-size: 40px;
    }

    #welcomeHeading {
        font-size: 35px;
    }

    .quote-text {
        font-size: 40px;
    }

    .quote-author {
        font-size: 20px;
    }

    .split {
        width: 100%;
    }

    #welcomeContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .right {
        display: none;
        position: fixed;
        bottom: 0;
    }

    #signupModal {
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
    }

    #closeModal {
        font-size: 20px;
    }

    #signupContent {
        width: 75%;
        font-size: 20px;
    }

    .form-heading {
        display: none;
    }
}