:root {
    --primary: rgb(255, 127, 80);
    --secondary: rgb(65, 105, 225);
    --tertiary: rgb(250, 213, 4);
}

* {
    font-family: 'Balsamiq Sans', sans-serif;
    margin-top: 0;
}

.nav-btn {
    font-size: 30px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    margin: 5px
}

#show-nav-btn {
    color: var(--primary);  
}

#hide-nav-btn {
    color: var(--tertiary);   
}

#hide-nav-btn:hover {
    color: rgba(255, 0, 0, 0.637);
    transition: 0.2s;
}

.navbar {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 12vw;
    background-color: var(--secondary);
    padding-top: 70px;
    padding-left: 40px;
    transition: 0.5s;
    border-right: 5px solid var(--secondary);
}

#hidden-userpage-nav {
    transform: translateX(-200%);
}

#show-userpage-nav {
    transform: translateX(0);
}

li {
    font-size: 30px;
    padding-top: 50px; 
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--tertiary);   
}

a:hover{
    color: white;
}

.header {
    text-align: center;
    color: var(--primary);
    padding-top: 10px;
}

.btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: var(--tertiary);
    background-color:var(--secondary);
    border-color: var(--secondary);
    font-size: 20px;
    padding: 5px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    color: var(--secondary);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    transition: 0.3s;
}


/* Responsiveness for tablet */
@media (max-width: 1000px) and (min-width: 530px) and (max-height: 1100px) {
    li {
        font-size: 20px;        
    }

    .btn {
        font-size: 13px;
    }
}

/* Responsiveness for phone */
@media (max-width: 530px) and (max-height: 1000px) {
    li {
        font-size: 35px;
        text-align: center;
        margin-top: 10%;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        padding: 0;
    }    

    .nav-btn {
        bottom: 0;
    }

    #hidden-userpage-nav {
        transform: translateY(100%);
    }

    .btn {
        font-size: 25px;
        width: 57px;
        overflow: hidden;
    }
    
}