:root {
    --primary: rgb(255, 127, 80);
    --secondary: rgb(65, 105, 225);
    --tertiary: rgb(250, 213, 4);
    --background: rgb(233, 231, 208);
}

* {
    font-family: 'Balsamiq Sans';
    margin-top: 0;
}

body {
    background-color: var(--background);
    color: white;
    margin: 0;
}

#userpage-habits {
    padding: 10px;
    margin: 10px 300px;
    border: 5px solid var(--primary);;
    position: relative;
    background-color: var(--primary);
    font-size: 25px;
    border-radius: 5px;
}

.habit {
    height: 150px;
}

.more-info-btn {
    cursor: pointer;
    color: var(--secondary);
}

.more-info-btn:hover {
    color: var(--tertiary);
}

.more-info-btn{
    background-color: azure;
}
