:root {
    --main: rgb(255, 127, 80);
    --secondary: rgb(65, 105, 225);
    --tertiary: rgb(250, 213, 4);
    --background: rgb(233, 231, 208);
}

* {
    font-family: 'Balsamiq Sans';
    margin-top: 0;
}

#show-nav-btn {
    color: var(--main);
    font-size: 30px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

#hide-userpage-nav {
    display: none;  
}

#show-userpage-nav {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 15vw;
    background-color: var(--secondary);
}

body {
    background-color: var(--background);
    color: white;
    margin: 0;
}

#userpage-header {
    text-align: center;
    color: var(--main);
    padding-top: 10px;
}

#userpage-habits {
    padding: 10px;
    margin: 10px 300px;
    border: 5px solid var(--main);;
    position: relative;
    background-color: var(--main);
    font-size: 25px;
    border-radius: 5px;
}

.habit {
    height: 150px;
}

.more-info-btn {
    cursor: pointer;
    color: var(--secondary);
}

.more-info-btn:hover {
    color: var(--tertiary);
}

#new-habit-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: var(--tertiary);
    background-color:var(--secondary);
    border-color: var(--secondary);
    font-size: 20px;
    padding: 5px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

#new-habit-btn:hover {
    color: var(--secondary);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    transition: 0.3s;
}
